<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<script src="https://kit.fontawesome.com/3cec55645f.js" crossorigin="anonymous"></script>
<div class="container">
<div class="row">

<div class="col-md-3">
<%= render 'list_show', book: @book, user: @books.user %>
</div>

    <div class="col-md-8  offset-md-1">
      <h1 class="mt-3">Book detail</h1>
      <table class="table table">

        <tbody>
            <tr>
              <td><%= image_tag @books.user.get_profile_image %><br><%= link_to @books.user.name, user_path(@books.user.id) %></td>
              <td><%= link_to @books.title, book_path(@books.id) %></td>
              <td><%= @books.body %></td>
              <td>
                <% if @books.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(@books), method: :delete do %>
                    <i class="fas fa-heart"></i><%= @books.favorites.count %>
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to book_favorites_path(@books), method: :post do %>
                    <i class="fas fa-heart"></i><%= @books.favorites.count %>
                  <% end %>
                </p>
                <% end %>
              </td>
              <% if @books.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@books.id), class:"btn btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@books.id), method: :delete, class:"btn btn-danger" %></td>
              <% end %>
              </td>
              <td><p>コメント数：<%= @books.book_comments.count %></p></td>
            </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <% @books.book_comments.each do |book_comment| %>
          <tr>
          <td><%= image_tag book_comment.user.get_profile_image %><br><%= link_to book_comment.user.name, user_path(book_comment.user.id) %></td>
          <td><%= book_comment.comment %></td>
          <td><% if book_comment.user == current_user %>
            <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class:"btn btn-danger" %>
          <% end %>
          </td>
          </tr>
          <% end %>
        </tbody>
      </table>
        <div class="mt-5">
          <%= form_with model: [@books, @book_comment] do |f| %>
            <%= f.text_area :comment, rows: '3' %>
            <br>
            <%= f.submit "送信" %>
          <% end %>
        </div>
    </div>
  </div>
</div>